@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h2 class="display-4">Willkommen in Beobachter des Wechselkurses</h2>
    <p>Siehe <a href="/Subscriptions/Index">vorhandene Abonnements</a>.</p>
</div>