@{
    ViewData["Title"] = "Startseite";
}

<div class="text-center">
    <h2 class="display-4">Willkommen in Beobachter des Wechselkurses</h2>
    <p>Siehe <a asp-controller="Subscriptions" asp-action="Index">vorhandene Abonnements</a>
    oder die letzte Aktualisierung der <a asp-controller="ExchangeRates" asp-action="Index">Wechselkurse</a>.</p>
</div>