@model ErrorViewModel
@{
    ViewData["Title"] = "Fehler";
}

<h1 class="text-danger">Fehler.</h1>
<h2 class="text-danger">Ein Felher ist während der Bearbeitung Ihrer Anfrage aufgetreten.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Entwicklungsmodus</h3>
<p>
    Anschalten der <strong>Entwicklungsumgebung</strong> zeigt detailierte Informationen über den auftretenden Fehler.
</p>
<p>
    <strong>Die Entwicklungsumgebung soll bei dem Ansatz der Anwendung NICHT angeschaltet werden.</strong>
    Es kann den Benutzern geheime Informationen von Exceptions verraten.
    Für lokales Debuggen, schalten Sie die <strong>Entwicklungsumgebung</strong> an, indem man die Umgebungsvariable
    <strong>ASPNETCORE_ENVIRONMENT</strong> als <strong>Development</strong> festlegt und dann die Anwendung neu startet.
</p>