@page
@model CurrencyMonitor.Pages.Currencies.CreateModel

@{
    ViewData["Title"] = "Erstellen";
}

<h1>Neue Währung</h1>

<h4>Welche neue Währung muss anerkannt werden?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="RecognizedCurrency.Code" class="control-label"></label>
                <input asp-for="RecognizedCurrency.Code" class="form-control" />
                <span asp-validation-for="RecognizedCurrency.Code" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecognizedCurrency.Name" class="control-label"></label>
                <input asp-for="RecognizedCurrency.Name" class="form-control" />
                <span asp-validation-for="RecognizedCurrency.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecognizedCurrency.Symbol" class="control-label"></label>
                <input asp-for="RecognizedCurrency.Symbol" class="form-control" />
                <span asp-validation-for="RecognizedCurrency.Symbol" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecognizedCurrency.Country" class="control-label"></label>
                <input asp-for="RecognizedCurrency.Country" class="form-control" />
                <span asp-validation-for="RecognizedCurrency.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück zu allen Währungen</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
