@page
@model CurrencyMonitor.Pages.Subscriptions.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Neues Abonnement</h1>

<h4>Welchen Wechselkurs möchten Sie beobachten?</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.Label" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.Label" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.EMailAddress" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.EMailAddress" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.EMailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.CodeCurrencyToSell" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.CodeCurrencyToSell" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.CodeCurrencyToSell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.CodeCurrencyToBuy" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.CodeCurrencyToBuy" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.CodeCurrencyToBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Erstellen" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Zurück nach alle Abonnements</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
