@page
@model CurrencyMonitor.Pages.Subscriptions.EditModel

@{
    ViewData["Title"] = "Bearbeiten";
}

<h1>Bearbeiten</h1>

<h4>Sie können hier Ihr Abonnement ändern</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="SubscriptionForExchangeRate.ID" />
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.Label" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.Label" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.Label" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SubscriptionForExchangeRate.EMailAddress" class="control-label"></label>
                <input asp-for="SubscriptionForExchangeRate.EMailAddress" class="form-control" />
                <span asp-validation-for="SubscriptionForExchangeRate.EMailAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToSell) (<a asp-page="/Currencies/Index">nicht vorhanden?</a>)
                </label>
                <select asp-for="SubscriptionForExchangeRate.CodeCurrencyToSell"
                        asp-items="Model.AvailableCurrencies" class="form-control">
                    <!-- ASP.NET wird diesen Raum ausfüllen! -->
                </select>
                <span asp-validation-for="SubscriptionForExchangeRate.CodeCurrencyToSell" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">
                    @Html.DisplayNameFor(model => model.SubscriptionForExchangeRate.CodeCurrencyToBuy) (<a asp-page="/Currencies/Index">nicht vorhanden?</a>)
                </label>
                <select asp-for="SubscriptionForExchangeRate.CodeCurrencyToBuy"
                        asp-items="Model.AvailableCurrencies" class="form-control">
                    <!-- ASP.NET wird diesen Raum ausfüllen! -->
                </select>
                <span asp-validation-for="SubscriptionForExchangeRate.CodeCurrencyToBuy" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Speichern" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Zurück zu allen Abonnements</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
